<section id="novelties" class="novelties section">
  <div class="container">
    <div class="novelties__top">
      <h2 class="title-section novelties__title">NEW Arrival is here!</h2>
      <button class="btn-accent novelties__bnt btn-reset">
        新入荷はコチラ！
        <span class="btn-accent__slash"></span>
        <span class="btn-accent__slash"></span>
      </button>
      <p class="descr novelties__descr">
        We&nbsp;provide the latest Gundam with a&nbsp;pre-order system directly
        from Japan. Get your Gundam grade now!
      </p>
    </div>
    <div class="novelties__bottom">
      <ul class="novelties__list list-reset">
        <li class="novelties__item anim-target left novelties__item--anim-1">
          <div class="novelties__item-content">
            <span class="title-robot-model mb-8">Master Grade SD Series</span>
            <h3 class="title-robot-name mb-8">FREEDOM GUNDAM</h3>
            <span class="title-robot-name-orig">フリーダムガンダム</span>
          </div>
          <div class="hero__right-scale">
            <button
              class="novelties__item-btn novelties__item-btn--big btn btn--accent btn-reset btn--arrow"
            >
              Buy now
            </button>
          </div>
          <div class="novelties__item-img">
            <img src="./img/Robot_1.png" alt="Robot" />
          </div>
        </li>
        <li class="novelties__item anim-target right novelties__item--anim-2">
          <div class="novelties__item-content block-right">
            <span class="title-robot-model-sm mb-8"
              >Master Grade SD Series</span
            >
            <h3 class="title-robot-name-sm mb-8">FREEDOM GUNDAM</h3>
            <span class="title-robot-name-orig-sm">フリーダムガンダム</span>
          </div>
          <div class="hero__right-scale">
            <button
              class="novelties__item-btn btn btn--accent btn-reset btn--arrow"
            >
              Buy now
            </button>
          </div>
          <div class="novelties__item-img novelties__item-img--revers">
            <img src="./img/Robot_2.png" alt="Robot" />
          </div>
        </li>
        <li class="novelties__item anim-target left novelties__item--anim-3">
          <div class="novelties__item-content">
            <span class="title-robot-model-sm mb-8"
              >Master Grade SD Series</span
            >
            <h3 class="title-robot-name-sm mb-8">FREEDOM GUNDAM</h3>
            <span class="title-robot-name-orig-sm">フリーダムガンダム</span>
          </div>
          <div class="hero__right-scale">
            <button
              class="novelties__item-btn btn btn--accent btn-reset btn--arrow"
            >
              Buy now
            </button>
          </div>
          <div class="novelties__item-img">
            <img src="./img/Robot_3.png" alt="Robot" />
          </div>
        </li>
      </ul>
    </div>
    <button class="btn-more btn-reset block-center">Viev more</button>
  </div>
</section>
