<section id="community" class="community section">
  <div class="community__container">
    <div class="container community__content">
      <span class="community__title-orig title-section-orig color-light"
        >コミュニティに参加する!</span
      >
      <h2 class="community__title title-section color-light">
        Let’s join the community!
      </h2>
      <p class="descr color-light community__descr dim">
        Join the fun! Don't miss out on the fun crafting Gundams and seeing
        works from around the world!
      </p>
      <button class="btn btn--white btn--arrow btn--arrow--accent btn-reset">
        Join now
      </button>
    </div>
    <img class="community__image-bg" src="./img/community-robot.png" alt="" />
  </div>
</section>
