<section id="builds" class="builds section">
  <div class="container">
    <div class="builds__top">
      <span class="title-section-orig builds__title-orig">注目のビルド</span>
      <h1 class="title-section builds__title">FEATURED BUILDS</h1>
      <p class="descr builds__descr">
        Check out custom builds of Gundam from people all over the world, feel
        the fun of crafting!
      </p>
    </div>
    <ul class="builds-list list-reset">
      <li class="builds-item right anim-target">
        <a class="builds-link">
          <div class="builds-item__content">
            <h1 class="title-robot-name mb-8">MG Strike Rogue Ver. RM</h1>
            <span class="title-robot-name-orig-sm builds-item__name-orig mb-8"
              >ストライクルージュ オオトリ装備</span
            >
            <span class="text-small">by Stomata</span>
          </div>
          <div class="builds-item__img">
            <img src="./img/builds-robot_1.png" alt="" />
          </div>
        </a>
      </li>
      <li class="builds-item left anim-target">
        <a class="builds-link">
          <div class="builds-item__content">
            <h1 class="title-robot-name">HG RX-78-2 Beyond Global</h1>
            <span class="title-robot-name-orig-sm builds-item__name-orig"
              >HG RX-78-2 ガンダム</span
            >
            <span class="text-small">by Stomata</span>
          </div>
          <div class="builds-item__img">
            <img src="./img/builds-robot_2.png" alt="" />
          </div>
        </a>
      </li>
      <li class="builds-item right anim-target">
        <a class="builds-link">
          <div class="builds-item__content block-right">
            <h1 class="title-robot-name">ARX - 014S KIRIN</h1>
            <span class="title-robot-name-orig-sm builds-item__name-orig"
              >シルヴァ・バレト</span
            >
            <span class="text-small">by Gunpla Luke</span>
          </div>
          <div class="builds-item__img">
            <img src="./img/builds-robot_3.png" alt="" />
          </div>
        </a>
      </li>
      <li class="builds-item left anim-target">
        <a class="builds-link">
          <div class="builds-item__content block-right">
            <h1 class="title-robot-name">Heavy Command Qan[T]</h1>
            <span class="title-robot-name-orig-sm builds-item__name-orig"
              >ガンダムダブルオーコマンドクアンタ</span
            >
            <span class="text-small">by Juno-Uno</span>
          </div>
          <div class="builds-item__img">
            <img src="./img/builds-robot_4.png" alt="" />
          </div>
        </a>
      </li>
      <li class="builds-item right anim-target">
        <a class="builds-link">
          <div class="builds-item__content">
            <h1 class="title-robot-name">Gundam Exia Repair III</h1>
            <span class="title-robot-name-orig-sm builds-item__name-orig"
              >ガンダムエクシアリペアIII</span
            >
            <span class="text-small">by Luperpla</span>
          </div>
          <div class="builds-item__img">
            <img src="./img/builds-robot_5.png" alt="" />
          </div>
        </a>
      </li>
    </ul>
    <button class="btn-more btn-reset block-center">Viev more</button>
  </div>
</section>
