.hero {
  display: flex;
  position: relative;
  overflow: hidden;
  z-index: 10;
}

.hero__left {
  padding: 100px 0;
  padding-left: max(15px, calc((100% - 1240px) / 2));
  margin-right: 125px;
}

.hero__title-hero-orig {
  display: inline-block;
  margin-bottom: 24px;
}

.hero__title-hero {
  margin-bottom: 16px;
}

.hero__descr {
  width: 505px;
  margin-bottom: 48px;
}

.hero__right {
  flex-shrink: 1;
  max-width: calc(100% - 505px - 125px);
  width: 100%;
  background-image: url("../img/hero_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__right-img {
  width: 100%;
  height: 100%;
}

.hero__right-img img {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(105px, 145px);
  z-index: 10;
}

.hero__right-content {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.hero__right-descr * + * {
  display: block;
  padding-top: 8px;
}

.hero__right-scale {
  width: 114px;
}

@media (max-width: 1400px) {
  .hero__right-img img {
    transform: translate(105px, 195px);
  }
}

@media (max-width: 1199px) {
  .hero {
    text-align: center;
    flex-direction: column;
    /* position: static; */
  }

  .hero__left {
    padding-left: 0;
    padding: 40px 15px;
    margin-right: 0;
  }

  .hero__descr {
    margin: 0 auto;
    margin-bottom: 48px;
  }

  .hero__btn {
    margin: 0 auto;
  }

  .hero__right {
    display: flex;
    max-width: 100%;
  }

  .hero__right-img {
    padding: 20px;
    padding-left: 0;
  }

  .hero__right-img img {
    position: static;
    transform: translate(60px, 0);
    width: 80%;
    height: 100%;
  }

  .hero__right-content {
    flex-direction: column;
    align-items: start;
    text-align: start;
    width: 50%;
    padding-right: 0;
  }
}

@media (max-width: 767px) {
  .hero__right {
    display: block;
  }

  .hero__right-content {
    flex-direction: row;
    width: 100%;
    padding: 40px;
    padding-bottom: 0;
  }

  .hero__right-img {
    padding: 20px;
    padding-bottom: 0;
  }

  .hero__right-img img {
    position: static;
    transform: translate(0px, 0);
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 576px) {
  .hero__descr {
    width: 100%;
  }

  .hero__right-content {
    padding: 15px;
  }
}

@media (max-width: 360px) {
  .hero__left {
    padding-left: 0;
    padding: 40px 15px;
    margin-right: 0;
  }

  .hero__title-hero-orig {
    margin-bottom: calc(24px / 2);
  }

  .hero__title-hero {
    margin-bottom: calc(16px / 2);
  }

  .hero__descr {
    margin-bottom: calc(48px / 2);
  }

  .hero__btn {
    margin: 0 auto;
  }

  .hero__right-img {
    padding: 15px;
  }

  .hero__right-img img {
    position: static;
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
  }

  .hero__right-content {
    padding: 15px;
  }
}
