<section id="hero" class="hero">
  <div class="hero__left">
    <span class="title-hero-orig hero__title-hero-orig anim-target"
      >ガンダムシリーズ</span
    >
    <h1 class="title-hero hero__title-hero anim-target">Gundam</h1>
    <p class="descr hero__descr anim-target">
      Bandai has been bringing us Gunpla (Gundam plastic model kits) since 1980,
      and have not only perfected their art, but expanded their kit types and
      skill levels so just about anyone can enjoy this fun and challenging
      hobby.
    </p>
    <button class="btn hero__btn btn--accent btn--arrow hero__btn btn-reset">
      Get yours now
    </button>
  </div>
  <div class="hero__right">
    <div class="hero__right-content">
      <div class="hero__right-descr">
        <span class="title-robot-model">Master Grade MVF-X08</span>
        <h3 class="title-robot-name">ECLIPSE GUNDAM</h3>
        <span>MG エクリプスガンダム</span>
      </div>
      <div class="hero__right-scale">
        <span>Lineup no. 217 1/100</span>
      </div>
    </div>
    <div class="hero__right-img">
      <img src="./img/robot_bg.png" alt="" aria-hidden="true" />
    </div>
  </div>
</section>
