.ticker {
  overflow: hidden;
  pointer-events: none;
}

.ticker__wrapper {
  display: flex;
  align-items: center;
  background-color: var(--color-main);
  padding: 26.5px 0;
}

.ticker__item {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  animation: ticker 5s linear infinite;
}

.ticker__item-descr {
  font-weight: 600;
  line-height: 22px;
  color: #ffffff;
}

.ticker__item-star {
  display: block;
  height: 24px;
  padding: 0 48px;
}

@keyframes ticker {
  0% {
    transform: translateZ(0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

@media (max-width: 360px) {
  .ticker__wrapper {
    padding: calc(26.5px / 2) 0;
  }
}
