<div class="ticker">
  <div class="ticker__wrapper">
    <div class="ticker__item">
      <img class="ticker__item-star" src="./img/Star.svg" alt="" />
      <span class="ticker__item-descr">GUNDAM</span>
      <img class="ticker__item-star" src="./img/Star.svg" alt="" />
      <span class="ticker__item-descr">ガンダムシリーズ</span>
    </div>
    <div class="ticker__item">
      <img class="ticker__item-star" src="./img/Star.svg" alt="" />
      <span class="ticker__item-descr">GUNDAM</span>
      <img class="ticker__item-star" src="./img/Star.svg" alt="" />
      <span class="ticker__item-descr">ガンダムシリーズ</span>
    </div>
    <div class="ticker__item">
      <img class="ticker__item-star" src="./img/Star.svg" alt="" />
      <span class="ticker__item-descr">GUNDAM</span>
      <img class="ticker__item-star" src="./img/Star.svg" alt="" />
      <span class="ticker__item-descr">ガンダムシリーズ</span>
    </div>
    <div class="ticker__item">
      <img class="ticker__item-star" src="./img/Star.svg" alt="" />
      <span class="ticker__item-descr">GUNDAM</span>
      <img class="ticker__item-star" src="./img/Star.svg" alt="" />
      <span class="ticker__item-descr">ガンダムシリーズ</span>
    </div>
    <div class="ticker__item">
      <img class="ticker__item-star" src="./img/Star.svg" alt="" />
      <span class="ticker__item-descr">GUNDAM</span>
      <img class="ticker__item-star" src="./img/Star.svg" alt="" />
      <span class="ticker__item-descr">ガンダムシリーズ</span>
    </div>
    <div class="ticker__item">
      <img class="ticker__item-star" src="./img/Star.svg" alt="" />
      <span class="ticker__item-descr">GUNDAM</span>
      <img class="ticker__item-star" src="./img/Star.svg" alt="" />
      <span class="ticker__item-descr">ガンダムシリーズ</span>
    </div>
  </div>
</div>
