html {
  box-sizing: border-box;
  font-size: var(--font-main);
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  object-fit: cover;
}

body {
  font-family: "Inter";
  font-weight: 400;
  letter-spacing: -0.04em;
  color: var(--color-main);
}

.page-body {
  overflow-x: hidden;
}

.container {
  max-width: calc(1240px + 30px);
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding: 5.5555em 0;
}

@media (max-width: 1200px) {
}

@media (max-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 360px) {
  html {
    /* font-size: 12px; */
  }
}
