<section id="grade" class="grade section">
  <div class="container grade__header grid grid-col-2 grid-col-1 gap-20">
    <div class="grade__title">
      <span class="title-section-orig grade__title-section-orig"
        >すべてはグレード次第</span
      >
      <h2 class="title-section">It’s all about the grade</h2>
    </div>
    <div class="grade__descr">
      <p class="descr">
        There are 5 existing Gunpla kit grades that you can buy in the market.
        They are the High Grade (HG), Master Grade (MG), Perfect Grade (PG),
        Real Grade (RG), and the Super Deformed Grade (SD), respectively
      </p>
    </div>
  </div>
  <div class="swiper-container">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide grade-item">
          <h3 class="title-item grade-item__title">High Grade (HG)</h3>
          <p class="descr grade-item__descr color-light">
            One of the newest grade types, Entry Grades are similar to HG in
            size, superb quality, and are the perfect starting point if you’re
            new to the plamo world!
          </p>
          <button
            class="grade-item__btn btn btn--white btn--all-width btn--arrow btn--arrow--accent btn-reset"
          >
            Explore this grade
          </button>
          <div class="grade-item__img">
            <img src="./img/grade-item-robot_1.png" alt="" />
          </div>
        </div>
        <div class="swiper-slide grade-item">
          <h3 class="title-item grade-item__title">Entry Grade (EG)</h3>
          <p class="descr grade-item__descr color-light">
            One of the newest grade types, Entry Grades are similar to HG in
            size, superb quality, and are the perfect starting point if you’re
            new to the plamo world!
          </p>
          <button
            class="grade-item__btn btn btn--white btn--all-width btn--arrow btn--arrow--accent btn-reset"
          >
            Explore this grade
          </button>
          <div class="grade-item__img">
            <img src="./img/grade-item-robot_2.png" alt="" />
          </div>
        </div>
        <div class="swiper-slide grade-item">
          <h3 class="title-item grade-item__title">Real Grade (RG)</h3>
          <p class="descr grade-item__descr color-light">
            One of the newest grade types, Entry Grades are similar to HG in
            size, superb quality, and are the perfect starting point if you’re
            new to the plamo world!
          </p>
          <button
            class="grade-item__btn btn btn--white btn--all-width btn--arrow btn--arrow--accent btn-reset"
          >
            Explore this grade
          </button>
          <div class="grade-item__img">
            <img src="./img/grade-item-robot_3.png" alt="" />
          </div>
        </div>
        <div class="swiper-slide grade-item">
          <h3 class="title-item grade-item__title">Master Grade (MG)</h3>
          <p class="descr grade-item__descr color-light">
            One of the newest grade types, Entry Grades are similar to HG in
            size, superb quality, and are the perfect starting point if you’re
            new to the plamo world!
          </p>
          <button
            class="grade-item__btn btn btn--white btn--all-width btn--arrow btn--arrow--accent btn-reset"
          >
            Explore this grade
          </button>
          <div class="grade-item__img">
            <img src="./img/grade-item-robot_4.png" alt="" />
          </div>
        </div>
        <div class="swiper-slide grade-item">
          <h3 class="title-item grade-item__title">Perfect Grade (PG)</h3>
          <p class="descr grade-item__descr color-light">
            One of the newest grade types, Entry Grades are similar to HG in
            size, superb quality, and are the perfect starting point if you’re
            new to the plamo world!
          </p>
          <button
            class="grade-item__btn btn btn--white btn--all-width btn--arrow btn--arrow--accent btn-reset"
          >
            Explore this grade
          </button>
          <div class="grade-item__img">
            <img src="./img/grade-item-robot_5.png" alt="" />
          </div>
        </div>
        <div class="swiper-slide grade-item">
          <h3 class="title-item grade-item__title">SD & BB</h3>
          <p class="descr grade-item__descr color-light">
            One of the newest grade types, Entry Grades are similar to HG in
            size, superb quality, and are the perfect starting point if you’re
            new to the plamo world!
          </p>
          <button
            class="grade-item__btn btn btn--white btn--all-width btn--arrow btn--arrow--accent btn-reset"
          >
            Explore this grade
          </button>
          <div class="grade-item__img">
            <img src="./img/grade-item-robot_6.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="swiper-controls">
      <div class="swiper-scrollbar"></div>
      <div class="swiper-controls-buttons">
        <div class="swiper-button-prev">
          <svg
            width="24"
            height="24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M9.57 5.93018L3.5 12.0002L9.57 18.0702"
              stroke-width="1.5"
            />
            <path d="M20.4999 12H3.66992" stroke-width="1.5" />
          </svg>
        </div>
        <div class="swiper-button-next">
          <svg
            width="24"
            height="24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M14.4297 5.93018L20.4997 12.0002L14.4297 18.0702"
              stroke-width="1.5"
            />
            <path d="M3.5 12H20.33" stroke-width="1.5" />
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
