.btn-more {
  padding: 0.666rem 2.666rem;
  background-color: transparent;
  border: 1px solid var(--color-accent);
  color: var(--color-accent);
  font-weight: 500;
  line-height: 170%;
  letter-spacing: inherit;
}

.btn {
  padding: 0.888rem 1.777rem;
  line-height: 170%;
  font-weight: 500;
}

.btn--accent {
  background-color: var(--color-accent);
  color: var(--color-light);
}

.btn--white {
  color: var(--color-accent);
  background-color: var(--color-light);
}

.btn--all-width {
  display: block;
  width: 100%;
}

.btn--arrow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn--arrow::after {
  content: "";
  display: block;
  height: 24px;
  width: 24px;
  background-image: url("../img/arrow-right.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: 12px;
}

.btn--arrow--accent.btn--arrow.btn--arrow::after {
  background-image: url("../img/arrow-right-accent.svg");
}

.btn-accent {
  position: relative;
  background-color: var(--color-accent);
  color: var(--color-light);
  padding: 10px 24px 10px 0px;
  width: 212px;
  overflow: hidden;
}

.btn-accent::after {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  display: block;
  height: calc(100% + 20px);
  width: 40px;
  transform: rotate(20deg);
  background-color: var(--color-light);
}

.btn-accent__slash:first-child {
  position: absolute;
  top: -5px;
  right: 25px;
  display: block;
  height: calc(100% + 20px);
  width: 7px;
  transform: rotate(20deg);
  background-color: var(--color-accent);
  z-index: 1;
}

.btn-accent__slash:last-child {
  position: absolute;
  top: -5px;
  right: 13px;
  display: block;
  height: calc(100% + 20px);
  width: 7px;
  transform: rotate(20deg);
  background-color: var(--color-accent);
  z-index: 1;
}
