.logo {
  display: block;
  max-width: 166px;
  height: 48px;
}

.logo img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.cart {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.profile,
.cart {
  transition: transform 0.3s ease-in-out;
}

.profile:hover,
.cart:hover {
  transform: scale(1.3);
}

.profile--icon {
  background-image: url("../img/Profile.svg");
}

.cart--icon {
  background-image: url("../img/Cart.svg");
}

.profile--icon,
.cart--icon {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 360px) {
  .logo {
    max-width: calc(166px / 1.2);
    height: calc(48px / 1.2);
  }
}
