<header class="header">
  <div class="container header__container">
    <a class="logo">
      <img src="./img/logo.svg" alt="" />
    </a>
    <nav class="nav nav--header">
      <ul class="nav-list list-reset">
        <li class="nav-item">
          <a href="#hero" class="nav-link">Hero</a>
        </li>
        <li class="nav-item">
          <a href="#novelties" class="nav-link">Novelties</a>
        </li>
        <li class="nav-item">
          <a href="#grade" class="nav-link">Grade</a>
        </li>
        <li class="nav-item">
          <a href="#builds" class="nav-link">Builds</a>
        </li>
        <li class="nav-item">
          <a href="#community" class="nav-link">Community</a>
        </li>
      </ul>
    </nav>
    <div class="header_right">
      <a href="#" class="profile profile--icon" aria-label="user profile"></a>
      <a href="#" class="cart cart--icon" aria-label="shopping cart"></a>
    </div>
    <button
      class="burger btn-reset"
      aria-label="Open menu"
      aria-expanded="false"
    ></button>
  </div>
</header>
