<footer id="footer" class="footer">
  <div class="container footer__container">
    <div class="footer__top flex">
      <a class="logo">
        <img src="./img/logo.svg" alt="Logo site" />
      </a>
      <nav class="nav">
        <ul class="nav-list list-reset">
          <li class="nav-item">
            <a href="#hero" class="nav-link">Hero</a>
          </li>
          <li class="nav-item">
            <a href="#novelties" class="nav-link">Novelties</a>
          </li>
          <li class="nav-item">
            <a href="#grade" class="nav-link">Grade</a>
          </li>
          <li class="nav-item">
            <a href="#builds" class="nav-link">Builds</a>
          </li>
          <li class="nav-item">
            <a href="#community" class="nav-link">Community</a>
          </li>
        </ul>
      </nav>
      <ul class="social-list list-reset flex">
        <li class="social-item">
          <a href="#" class="social-link social-link--facebook"></a>
        </li>
        <li class="social-item">
          <a href="#" class="social-link social-link--instagram"></a>
        </li>
        <li class="social-item">
          <a href="#" class="social-link social-link--twitter"></a>
        </li>
      </ul>
    </div>
    <div class="footer__bottom flex">
      <span class="copyright color-dark dim">
        &copy; 2022 Mengkere, All rights reserved.</span
      >
      <ul class="footer-nav list-reset color-dark dim flex">
        <li class="footer-nav__item">
          <a href="#" class="footer-nav__link">Privacy Policy</a>
        </li>
        <li class="footer-nav__item">
          <a href="#" class="footer-nav__link">Terms & Conditions</a>
        </li>
        <li class="footer-nav__item">
          <a href="#" class="footer-nav__link">Cookies</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
